<div class="col-md-12">
    <div class="row">
        <div class="col-md-3 bg-dark">
            <div class="text-center m-3">
                <%= image_tag @user.default_avatar, class: "avatar-medium" %>
            </div>
            <div class="row bg-light p-2 m-1">    
                <%= @user.name %>           
            </div>
            <div class="row m-2 p-2 m-1">
                <%= @user.description %>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    Email Address
                </div>
                <div class="card-body">
                    <%= @user.email %> 
                </div>
            </div>
               <div class="card mb-3">
                <div class="card-header">
                    Telephone Number
                </div>
                <div class="card-body">
                    <%= @user.phone_number %> 
                </div>
            </div>
        </div>
        <div class="col-md-9 bg-light">
            <div class="row m-2 p-2">
                <h3><strong><%= @user.name %></strong> operates <%= @rooms.length%> locations  </h3>   
            </div>
            <div class="row">        
                <% @rooms.each do |room| %>
                    <div class="col-md-6">
                    <%= link_to room_path(room.id) do %>
                        <div class="card mb-1 m-3">
                            <div class="card-header">
                                <h4><%= room.listing_name %></h4>                     
                            </div>
                              <% if room.images.attached?%>
                                    <%= image_tag room.medium_image(room.images[0]), class: "img-fluid" %>                                
                                <% else %>      
                                    <%= image_tag 'default_room.jpg', class: "img-fluid" %>    
                                <% end %>   
                            <div class="card-body">                        
                                <div class="card-text">
                                    <%= room.address %>                                    
                                </div>
                            </div>                                  
                        </div>                                                        
                    <% end %>                                      
                    </div>
                <% end %>                                                                
            </div>   
        </div>
    </div>
</div>



