
<%# front two main images with local access %>
<div class="jumbotron shadow">
  <h1 class="display-4">Need quick work space in <%= @location_received %> ?</h1>
  <p class="lead">Find your office instantly.</p>
  <hr class="my-4">
  <div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <%= image_tag "main_image2.jpg", class: "img-fluid" %>
        </div>
        <div class="col-md-6">
            <%= image_tag "main_image1.jpg", class: "img-fluid" %>
        </div>
    </div>
  </div>
  <p class="lead">
  <%= link_to search_path(q: {"address_cont": @location_received }) do %>
    <button class="btn btn-primary btn-lg mt-5 ml-4 ">Find Local in Your Area</button>
  <% end %>
  </p>
</div>


<%# one click search for three main cities ard the world %>
<div class="jumbotron shadow">
    <div class="text-center">
        <h2>Anywhere You Go</h2>
        <p>Discover Amazing Work Space Around You</p>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 col-sm-12">        
            <%= link_to search_path(q:{"address_or_summary_or_listing_name_cont": "nyc"} ) do %>
                <div class="card shadow">
                    <div class="card-header">       
                        <h2><string>NYC</string></h2>
                    </div>
                    <%= image_tag "nyc_home_page_pexels-ono-kosuki.jpg", class: "img-fluid image-medium image_response" %>
                    <div class="card-body">
                        <div class="card-text">
                            Find Home on Our Cozy Cowork Places Just Around the Corner
                        </div>
                    </div>
                </div>
            <% end %>    
        </div>    
    <div class="col-md-4 col-sm-12">
        <%= link_to search_path(q:{"address_or_summary_or_listing_name_cont": "kolkata"}) do %>
            <div class="card shadow">
                <div class="card-header">                    
                    <h2><strong>Kolkata</strong></h2>                    
                </div>
                <%= image_tag "kolkata_home_page_pexels-neosiam-.jpg", class: "img-fluid image-medium image_response"%>
                <div class="card-body">
                    <div class="card-text">
                        Professional Cowork Space in Busy Diverse Dinamic City
                    </div>
                </div>
            </div>
        <% end %>
        </div>
    <div class="col-md-4 col-sm-12">
        <%= link_to search_path(q:{"address_or_summary_or_listing_name_cont": "bangkok"}) do %>
            <div class="card shadow">
                <div class="card-header">                    
                    <h2><strong>Bangkok</strong></h2>                    
                </div>
                    <%= image_tag "bangkok_home_page_pexels-nick-wehrli.jpg" , class: "img-fluid image-medium"%>                         
                <div class="card-body">
                    <div class="card-text">
                        Remote Work Desk Spot in This Beautiful Backpackers Heaven 
                    </div>
                </div>
            </div>
        <% end %>
        </div>
    </div>
</div>

<%# mid-search form %>
<div class="container-fluid mb-4 border p-4 shadow sticky-top bg-light">
    <%= search_form_for @search, url: search_path, method: :get do |f| %>
        <div class="row">
            <div class="col-md-6">
                <%= f.search_field :address_cont, placeholder: "where are you going?", class: "form-control input-lg"%>
            </div>
            <div class="col-md-2">
                <%= f.submit "Check Availability", class: "btn btn-primary"%>
            </div>
            <div class="col-md-2">
                <%= text_field_tag :start_date, "start date", class:"form-control", id: "start_date"%>
            </div>
            <div class="col-md-2">
                <%= text_field_tag :end_date, "end date", class:"form-control", id: "end_date"%>
            </div>
        </div>
    <% end %>
</div>

<div class="jumbotron shadow col-md-12">
    <div class="text-center mb-5 h3">
        <h3>Top Space Pick by Reviews </h3>
    </div>
    <div class="row">    
        <% @rooms.each do |room|%>
            <div class="col-md-4">
                <%= link_to room_path(room.id) do %>
                    <div class="card mb-2 shadow m-2">
                        <div class="card-header card_header text-center">
                            <%= room.listing_name %>
                        </div>
                        <% if room.images.attached? %>
                            <%= image_tag room.medium_image(room.images[0]), class: "img-fluid"%>
                        <% end %>
                        <div class="card-body card_body">
                            <div class="card-text">
                                <%= room.address %>
                            </div>                     
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %> 
    </div>
</div>

<%# customer reviews %>
<div class="jumbotron shadow">
    <div class="text-center">
        <h2>Customer Reviews</h2>
    </div>
    <div class="col-md-12"> 
        <%= render "reviews/list" %>
    </div>
</div>

<%# footer %>
<% if !user_signed_in? %>
  <footer>

            <ul>
              <li>contact</li>
              <li>about us</li>
              <li>locations</li>
              <li>4</li>

            </ul>
   © Justin K Lee. All rights reserved. Logo Design from:  Icon by: Icons8

    </footer>
<% end %>
