<h3 class="text-center m-4">Your Listing Reservations</h3>
<div class="row">
    <div class="col-md-3">
        <div class="card mb-3">
            <div class="card-header">
                Reservation Monthly Summary
            </div>
            <div class="card-body">
                <div class="card-title">
                    <h5>hello</h5>
                </div>
                 <div class="card-text">
                    You have # reservartions.
                </div>
                <div class="card-text">
                    Total Sales: $
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                Reservation Yearly Summary
            </div>
            <div class="card-body">
                <div class="card-title">
                    <h5>hello</h5>
                </div>
                <div class="card-text">
                    You have # reservations.
                </div>
                <div class="card-text">
                    Total Sales: $
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <% @rooms.each do |room| %>
            <% room.reservations.each do |reservation| %>
                <div class="row">
                    <div class="col-md-3">
                        <%= link_to room_path(room.id) do %>
                            <div class="card mb-3 ">
                                <div class="card-header">
                                    <%= reservation.start_date.strftime('%v')%>                        
                                </div>
                                <% if room.images.attached? %>
                                    <%= image_tag room.medium_image(room.images[0]), class: "img-fluid" %>
                                <% end %>
                                <div class="card-body">                               
                                    <div class="card-title">
                                        <%=room.listing_name %>
                                    </div>                                
                                    <%= image_tag reservation.user.default_avatar, class: "img-circle avatar-medium"%>                                    
                                    <div class="card-text">
                                        <h5>$<%= reservation.total %></h5>
                                    </div>
                                </div>                             
                            </div>                
                        <% end %>            
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>