
<div class="col-md-4">
<%=link_to room_path(room.id) do %>
    <div class="card mb-3 shadow text-center">
        <div class="card-header text-center">
            <div class="h4"><%= room.listing_name %></div> 
            <div class="ml-5 mr-5" id="average_rate_<%= room.id %>"></div>
        </div>
        <% if room.images.attached? %>
            <%= image_tag room.medium_image(room.images[0]), class: "img-fluid"%>
        <% end %>
        <div class="card-body">
            <div class="card-text">
                <%= room.address %>
            </div>
        </div>
    </div>


<script>
$(function(){
    $('#average_rate_<%= room.id %>').raty({
        readOnly: true,
        score: <%= room.average_rating %>,
        starOff: '<%= image_path('star-off.png') %>',
        starOn : '<%= image_path('star-on.png') %>',
        starHalf: '<%= image_path 'star-half.png' %>',
    })

});
</script>

<% end %>
</div>