<%= form_with model: [@room, @room.reviews.new], local: true do |f|%>

    <label class="pt-4">Rating: </label> 
    <div id="stars" class="mb-4"></div>

    <label for="review">Review:</label>
    <%= f.text_field :comment %>
    <%= f.hidden_field :room_id, value: @room.id %>

    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>

<script>
    $('#stars').raty({
        scoreName: 'review[star]',
        score: 1,
        number: 5,
        starOff:  '<%= image_path('star-off.png') %>',
        starOn : '<%= image_path('star-on.png') %>',
    
    });
</script>