<!DOCTYPE html>
<html>
  <head>
    <title>DeskShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ ENV['MAPS_API_KEY']}&libraries=places&callback=dispatchMapsEvent",
                            async: true,
                            defer: true,
                            "data-turbolinks-eval": false %>
    <%= favicon_link_tag asset_path('orangePolygonLarge.png') %>
  </head>

  <body>
    <%# navbar %>
    <%= render 'shared/navbar' %>      
  
    <%# main %>
    <%= render 'shared/message'%>
    <div class="container main" id="main">

      <%= yield %>

    </div>
    <div class="container" id="footer">
      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
          <a class="navbar-brand" href="/pages/home"> <%= image_tag "orangeLogoLarge.png", class: "mb-2", alt:"logo", style: "width: 200px" %></a>         
            <small class="d-block mb-3 text-muted">&copy; 2021</small>
          </div>
          <div class="col-6 col-md">
            <h5 class="mb-2">Features</h5>
            <ul class="list-unstyled text-small">
              <%= link_to new_user_session_path, class: "text-muted mb-2" do %><li class="mb-1">Log in </li><% end %>
              <%= link_to new_user_registration_path, class: "text-muted " do %><li class="mb-1">Sign up </li><% end %>
              <%= link_to search_path(q: {"address_cont": @location_received }) do %><li class="mb-1 text-muted">Advanced Search</li><% end %>
              <%= link_to search_path(q: {"address_cont": @location_received }) do %><li class="mb-1 text-muted">Local Search</li><% end %>
              <%= link_to new_room_path, class: "text-muted" do %><li class="mb-1">Hosting New Location </li><% end %>
              <%= link_to edit_user_registration_path, class: "text-muted " do %><li class="mb-1">Profile Update </li><% end %>
              <%= link_to rooms_path, class: "text-muted " do %><li class="mb-1">Your Hosting List</li><% end %>
              <%= link_to yourlisting_reservations_path, class: "text-muted " do %><li class="mb-1">Your Customer Reservation</li><% end %>
              <%= link_to your_trips_path, class: "text-muted " do %><li class="mb-1">Your Cart</li><% end %>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5 class="mb-2">Resources</h5>
            <ul class="list-unstyled text-small">
              <li class="mb-2">Photos from <a class="text-muted" href="https://www.pexels.com/" target="_blank">Pexels</a></li>
              <%= link_to attribution_path, class: "text-muted", target: "_blank" do %><li class="mb-2">Photo Artists</li><% end %>
              <li class="mb-2">People vector Created by <a class="text-muted" href="https://www.freepik.com/vectors/people" target="_blank"> Freepik</a></li>
              <li class="mb-2">Logo Design Created with <a class="text-muted" href="https://www.LogoMakr.com" target="_blank"> LogoMakr</a></li>
          
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5 class="mb-2">About</h5>
            <ul class="list-unstyled text-small">
              <li><div class="text-muted mt-2 mb-4 d-flex"><a href="https://devneolee.github.io/justinklee/" target="_blank"><span class="mr-1">© Justin K Lee </span><%= image_tag "blueplane_icon.svg", width: "25px", class: "blueplane"%> </a></div></li>
              <li class="mb-4"><a target="_blank" href="https://github.com/devneoLee" ><span class="mr-2">GitHub</span><i class="fab fa-github fa-lg"></i></a></li>      								       
              <li class="mt-2 mb-4"><a target="_blank" href="https://www.linkedin.com/in/justinklee215/"><span class="mr-2">LinkedIn</span><i class="fab fa-linkedin fa-lg"></i></a></li>
            </ul>
          </div>
        </div>
      </footer>    
    </div>
  </body>
</html>
